Repository Serapieum-of-alex/pyramids: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-notebook-check, doctest

Path conditions:
  examples-notebook-check: any of: \.ipynb$
  doctest: any of: \.py$

Deployed 9b86b47 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

feat(plot): add to_xyz method and improve plotting integration with Cleopatra (#99)
  .pre-commit-config.yaml
  docs/installation.md
  examples/notebooks/01dataset.ipynb
  examples/notebooks/02spatial-operation-methods.ipynb
  examples/notebooks/03convert-longitude.ipynb
  examples/notebooks/04datacube.ipynb
  examples/notebooks/south-america.ipynb
  examples/scripts/xyz.py
  pixi.lock
  pyproject.toml
  src/pyramids/dataset.py
  tests/config/test_config.py
  tests/data/geotiff/raster-with-attribute-table.tif.aux.xml
  tests/dataset/test_dataset.py
  tests/dataset/test_plot.py
Due: examples-notebook-check, doctest

Deployed 03d31ab to main with MkDocs 1.6.1 and mike 2.1.3
  main/architecture/diagrams/index.html
  main/installation/index.html
  main/objects.inv
  main/overview/codebase-map/index.html
  main/overview/how-it-works/index.html
  main/reference/dataset/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: none

chore(deps): add commitizen, update pixi.lock with new dependency versions
  pixi.lock
  pyproject.toml
Due: none

upgrade cleopatra to 0.6.0
  pixi.lock
  pyproject.toml
Due: none

ci(release): add automated release workflow
  .github/workflows/release.yml
Due: none

Added Commitizen configuration and tasks for version bumping and changelog generation.
  pixi.lock
  pyproject.toml
Due: none

ci(release): update release workflow for Pixi v0.9.0 and improve commands
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
Due: none

ci(actions): pin action versions with commit SHAs
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Deployed 2f0167b to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

ci(release): update GitHub Actions to use new output syntax and token variable
  .github/workflows/release.yml
Due: none

Deployed fd660b8 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

chore(release): add Commitizen and automated release workflow (#133)
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pixi.lock
  pyproject.toml
Due: none

chore(pyproject): remove `major_version_zero` configuration
  pyproject.toml
Due: none

Deployed 713601e to main with MkDocs 1.6.1 and mike 2.1.3
  main/AUTHORS/index.html
  main/CODE_OF_CONDUCT/index.html
  main/LICENSE/index.html
  main/adr/0001-docs-stack/index.html
  main/adr/0002-type-checking/index.html
  main/adr/0003-io-formats/index.html
  main/adr/0004-dependency-graphing/index.html
  main/adr/0005-versioning-docs/index.html
  main/adr/0006-docker-image/index.html
  main/adr/index.html
  main/architecture/diagrams/index.html
  main/change-log/index.html
  main/contributing/index.html
  main/how-to/devcontainer/index.html
  main/how-to/docker/index.html
  main/how-to/faq/index.html
  main/how-to/recipes/index.html
  main/index.html
  main/installation/index.html
  main/overview/codebase-map/index.html
  main/overview/how-it-works/index.html
  main/reference/datacube/index.html
  main/reference/dataset/index.html
  main/reference/featurecollection/index.html
  main/tutorials/datacube-basics/index.html
  main/tutorials/datacube/index.html
  main/tutorials/dataset/index.html
  main/tutorials/raster-basics/index.html
Due: none

chore(deps): update sha256 checksum for `pyramids-gis` to match new version 0.7.3
  pixi.lock
Due: none

chore(release): ensure tags are fetched for release workflow
  .github/workflows/release.yml
Due: none

chore(release): enhance debug visibility and tag handling in workflow
  .github/workflows/release.yml
Due: none

Deployed 65de1c9 to main with MkDocs 1.6.1 and mike 2.1.3
  main/AUTHORS/index.html
  main/CODE_OF_CONDUCT/index.html
  main/LICENSE/index.html
  main/adr/0001-docs-stack/index.html
  main/adr/0002-type-checking/index.html
  main/adr/0003-io-formats/index.html
  main/adr/0004-dependency-graphing/index.html
  main/adr/0005-versioning-docs/index.html
  main/adr/0006-docker-image/index.html
  main/adr/index.html
  main/architecture/diagrams/index.html
  main/change-log/index.html
  main/contributing/index.html
  main/how-to/devcontainer/index.html
  main/how-to/docker/index.html
  main/how-to/faq/index.html
  main/how-to/recipes/index.html
  main/index.html
  main/installation/index.html
  main/overview/codebase-map/index.html
  main/overview/how-it-works/index.html
  main/reference/datacube/index.html
  main/reference/dataset/index.html
  main/reference/featurecollection/index.html
  main/tutorials/datacube-basics/index.html
  main/tutorials/datacube/index.html
  main/tutorials/dataset/index.html
  main/tutorials/raster-basics/index.html
Due: none

bump: version 0.7.3 → 0.8.0
  docs/change-log.md
  pyproject.toml
Due: none

update checklist files
  docs/change-log.md
Due: none

Deployed c1c3257 to main with MkDocs 1.6.1 and mike 2.1.3
  main/AUTHORS/index.html
  main/CODE_OF_CONDUCT/index.html
  main/LICENSE/index.html
  main/adr/0001-docs-stack/index.html
  main/adr/0002-type-checking/index.html
  main/adr/0003-io-formats/index.html
  main/adr/0004-dependency-graphing/index.html
  main/adr/0005-versioning-docs/index.html
  main/adr/0006-docker-image/index.html
  main/adr/index.html
  main/architecture/diagrams/index.html
  main/change-log/index.html
  main/contributing/index.html
  main/how-to/devcontainer/index.html
  main/how-to/docker/index.html
  main/how-to/faq/index.html
  main/how-to/recipes/index.html
  main/index.html
  main/installation/index.html
  main/overview/codebase-map/index.html
  main/overview/how-it-works/index.html
  main/reference/datacube/index.html
  main/reference/dataset/index.html
  main/reference/featurecollection/index.html
  main/search/search_index.json
  main/tutorials/datacube-basics/index.html
  main/tutorials/datacube/index.html
  main/tutorials/dataset/index.html
  main/tutorials/raster-basics/index.html
Due: none

lock env
  pixi.lock
Due: none

Set default version to latest with mike 2.1.3
  index.html
Due: none

refactor(dataset): replace global logger calls with instance logger calls
  src/pyramids/dataset.py
Due: doctest

feat(logging): add color-coded console logging and enhance GDAL error handling
  src/pyramids/_errors.py
  src/pyramids/config.py
  src/pyramids/datacube.py
Due: doctest

docs(logging): expand and refine `setup_logging` docstring
  src/pyramids/config.py
Due: doctest

test(logging): add isolated tests for logging, handler idempotency, and GDAL error handling
  src/pyramids/config.py
  tests/config/test_config.py
  tests/config/test_logger.py
Due: doctest

refactor(logging): decouple logging and GDAL error handling into `LoggerManager`
  src/pyramids/__init__.py
  src/pyramids/config.py
  tests/config/test_config.py
  tests/config/test_logger.py
Due: doctest

chore(deps): remove loguru from lock file
  pixi.lock
  pyproject.toml
Due: none

create base module
  src/pyramids/base/_errors.py
  src/pyramids/base/_utils.py
  src/pyramids/base/config.py
  src/pyramids/base/config.yaml
  src/pyramids/base/gdal_drivers.yaml
  src/pyramids/base/ogr_drivers.yaml
Due: doctest

create base module
  src/pyramids/__init__.py
  src/pyramids/_io.py
  src/pyramids/abstract_dataset.py
  src/pyramids/base/_utils.py
  src/pyramids/base/config.py
  src/pyramids/datacube.py
  src/pyramids/dataset.py
  src/pyramids/featurecollection.py
  src/pyramids/netcdf.py
  tests/config/test_config.py
  tests/config/test_logger.py
  tests/dataset/test_dataset.py
  tests/dataset/test_overviews.py
  tests/test_io.py
  tests/test_utils.py
Due: doctest

reformat
  src/pyramids/netcdf.py
  tests/config/test_config.py
  tests/config/test_logger.py
Due: doctest

add __init__.py to the base module
  src/pyramids/base/__init__.py
Due: doctest

Deployed 826e3e1 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/404.html
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

reformat
  src/pyramids/base/config.py
Due: doctest

correct docstring typo
  src/pyramids/base/config.py
Due: doctest

change the logger level for the configuration to debug level
  src/pyramids/base/config.py
Due: doctest

refactor(utils): use `pathlib.Path` for building file paths in `_get_gdal_catalog`
  src/pyramids/base/_utils.py
Due: doctest
