Repository Serapieum-of-alex/pyramids: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-notebook-check, doctest

examples-notebook-check:
  name: nbval
  entry: pytest --nbval
  language: system

doctest:
  name: doctest
  entry: pytest --doctest-modules
  language: system

remove unused OGR-related commented code from `_utils.py`
  src/pyramids/base/_utils.py
Due: doctest

clean todo statments
  src/pyramids/base/_utils.py
Due: doctest

refactor(utils): rename `ogr_ds_togdal_dataset` to `ogr_ds_to_gdal_dataset`
  src/pyramids/featurecollection.py
  tests/test_utils.py
Due: doctest

refactor(tests): simplify handler iteration in `test_logger.py`
  tests/config/test_logger.py
Due: doctest

Deployed 5e3bf02 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

fix(utils): correct file path string in `_get_gdal_catalog`
  src/pyramids/base/_utils.py
Due: doctest

update
  .gitignore
Due: none

Deployed 004c219 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

update
  tests/config/test_logger.py
Due: doctest

Deployed 233f662 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

add log level list
  src/pyramids/base/config.py
Due: doctest

remove repeated time_unit
  src/pyramids/base/_utils.py
Due: doctest

test missing lines
  tests/config/test_logger.py
Due: doctest

Deployed af124e3 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

add config docs
  docs/reference/config.md
Due: none

Deployed f3f54b1 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/objects.inv
  develop/reference/config/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

add config docs
  mkdocs.yml
Due: none

Deployed 7c8b8c3 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/404.html
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/config/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

feat(logging): Centralized logging via `LoggerManager` with colored console and optional file logging; reduced third‑party log noise. (#135)
  .gitignore
  docs/reference/config.md
  mkdocs.yml
  pixi.lock
  pyproject.toml
  src/pyramids/__init__.py
  src/pyramids/_io.py
  src/pyramids/abstract_dataset.py
  src/pyramids/base/__init__.py
  src/pyramids/base/_errors.py
  src/pyramids/base/_utils.py
  src/pyramids/base/config.py
  src/pyramids/base/config.yaml
  src/pyramids/base/gdal_drivers.yaml
  src/pyramids/base/ogr_drivers.yaml
  src/pyramids/datacube.py
  src/pyramids/dataset.py
  src/pyramids/featurecollection.py
  src/pyramids/netcdf.py
  tests/config/test_config.py
  tests/config/test_logger.py
  tests/dataset/test_dataset.py
  tests/dataset/test_overviews.py
  tests/test_io.py
  tests/test_utils.py
Due: doctest

Deployed 9f5bd96 to main with MkDocs 1.6.1 and mike 2.1.3
  main/404.html
  main/AUTHORS/index.html
  main/CODE_OF_CONDUCT/index.html
  main/LICENSE/index.html
  main/adr/0001-docs-stack/index.html
  main/adr/0002-type-checking/index.html
  main/adr/0003-io-formats/index.html
  main/adr/0004-dependency-graphing/index.html
  main/adr/0005-versioning-docs/index.html
  main/adr/0006-docker-image/index.html
  main/adr/index.html
  main/architecture/diagrams/index.html
  main/change-log/index.html
  main/contributing/index.html
  main/how-to/devcontainer/index.html
  main/how-to/docker/index.html
  main/how-to/faq/index.html
  main/how-to/recipes/index.html
  main/index.html
  main/installation/index.html
  main/objects.inv
  main/overview/codebase-map/index.html
  main/overview/how-it-works/index.html
  main/reference/config/index.html
  main/reference/datacube/index.html
  main/reference/dataset/index.html
  main/reference/featurecollection/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/tutorials/datacube-basics/index.html
  main/tutorials/datacube/index.html
  main/tutorials/dataset/index.html
  main/tutorials/raster-basics/index.html
Due: none

Set default version to main with mike 2.1.3
  index.html
Due: none

add colorama as a dependency
  pixi.lock
  pyproject.toml
Due: none

chore(deps): add colorama dependency (#137)
  pixi.lock
  pyproject.toml
Due: none

rename to merge
  src/pyramids/datacube.py
  src/pyramids/multidataset.py
  src/pyramids/netcdf.py
Due: doctest

rename to merge
  src/pyramids/datacube.py
  src/pyramids/netcdf.py
Due: doctest

merge main
  docs/how-to/recipes.md
  docs/tutorials/datacube-basics.md
  examples/plot_bands.py
  src/pyramids/multidataset.py
  src/pyramids/netcdf.py
  tests/datacube/test_datacube.py
Due: doctest

refactor(multidataset): remove extraneous `pass` statement and rename method to `open_multi_dataset` for consistency
  src/pyramids/multidataset.py
Due: doctest

refactor(multidataset): remove extraneous `pass` statement and rename method to `open_multi_dataset` for consistency
  tests/dataset/test_multidataset.py
  tests/dataset/test_plot.py
Due: doctest

refactor(multidataset): remove extraneous `pass` statement and rename method to `open_multi_dataset` for consistency
  examples/notebooks/04datacube.ipynb
Due: examples-notebook-check

rename datacube to multidataset
  tests/datacube/test_multi_dataset.py
Due: doctest

google style
  src/pyramids/netcdf.py
Due: doctest

check if the path exists
  src/pyramids/_io.py
Due: doctest

rename datacube to netcdf
  tests/datacube/test_multi_dataset.py
Due: doctest

fix the plugins path issue
  src/pyramids/base/config.py
Due: doctest

fix failing tests
  tests/config/test_config.py
Due: doctest

remove the path check because of the zipped files
  src/pyramids/_io.py
Due: doctest

refactor(config): introduce `EnvironmentVariables` class and refactor PATH management logic for clarity and reuse
  src/pyramids/base/config.py
Due: doctest

add docstring for all the config.py module
  src/pyramids/base/config.py
Due: doctest

move data inside data folder
  src/pyramids/base/data/config.yaml
  src/pyramids/base/data/gdal_drivers.yaml
  src/pyramids/base/data/ogr_drivers.yaml
Due: none

move data inside data folder
  src/pyramids/base/_utils.py
  src/pyramids/base/config.py
Due: doctest

Path conditions:
  examples-notebook-check: any of: \.ipynb$
  doctest: any of: \.py$
