Repository Serapieum-of-alex/pyramids: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-notebook-check, doctest

Path conditions:
  examples-notebook-check: any of: \.ipynb$
  doctest: any of: \.py$

add how-to file for the dev container
  docs/how-to/devcontainer.md
  mkdocs.yml
Due: none

remove duplicate docker workflow
  .github/workflows/release-docker.yml
Due: none

Deployed 7ec21a7 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/404.html
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/assets/_mkdocstrings.css
  develop/assets/javascripts/zoompan.js
  develop/assets/stylesheets/panzoom.css
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/objects.inv
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

lock environment
  pixi.lock
  pyproject.toml
Due: none

Deployed 41d3551 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

update docs
  docs/how-to/devcontainer.md
Due: none

Deployed e7ab28d to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

update docs
  docs/_images/development/dev-container-build-finished.png
  docs/_images/development/dev-container-build-log.png
Due: none

Deployed 9760406 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/_images/development/dev-container-build-finished.png
  develop/_images/development/dev-container-build-log.png
Due: none

Deployed de3442e to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

chore(dev): add dev container and docs (#130)
  .devcontainer/devcontainer.json
  .github/workflows/release-docker.yml
  docs/_images/development/dev-container-build-finished.png
  docs/_images/development/dev-container-build-log.png
  docs/how-to/devcontainer.md
  mkdocs.yml
  pixi.lock
Due: none

Deployed 5d91adf to main with MkDocs 1.6.1 and mike 2.1.3
  main/404.html
  main/AUTHORS/index.html
  main/CODE_OF_CONDUCT/index.html
  main/LICENSE/index.html
  main/_images/development/dev-container-build-finished.png
  main/_images/development/dev-container-build-log.png
  main/adr/0001-docs-stack/index.html
  main/adr/0002-type-checking/index.html
  main/adr/0003-io-formats/index.html
  main/adr/0004-dependency-graphing/index.html
  main/adr/0005-versioning-docs/index.html
  main/adr/0006-docker-image/index.html
  main/adr/index.html
  main/architecture/diagrams/index.html
  main/assets/_mkdocstrings.css
  main/assets/javascripts/zoompan.js
  main/assets/stylesheets/panzoom.css
  main/change-log/index.html
  main/contributing/index.html
  main/how-to/devcontainer/index.html
  main/how-to/faq/index.html
  main/how-to/recipes/index.html
  main/index.html
  main/installation/index.html
  main/overview/codebase-map/index.html
  main/overview/how-it-works/index.html
  main/reference/datacube/index.html
  main/reference/dataset/index.html
  main/reference/featurecollection/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/tutorials/datacube-basics/index.html
  main/tutorials/datacube/index.html
  main/tutorials/dataset/index.html
  main/tutorials/raster-basics/index.html
Due: none

docs: fix typo in dev container setup steps
  docs/how-to/devcontainer.md
Due: none

Deployed 3d419ce to main with MkDocs 1.6.1 and mike 2.1.3
  main/AUTHORS/index.html
  main/CODE_OF_CONDUCT/index.html
  main/LICENSE/index.html
  main/adr/0001-docs-stack/index.html
  main/adr/0002-type-checking/index.html
  main/adr/0003-io-formats/index.html
  main/adr/0004-dependency-graphing/index.html
  main/adr/0005-versioning-docs/index.html
  main/adr/0006-docker-image/index.html
  main/adr/index.html
  main/architecture/diagrams/index.html
  main/change-log/index.html
  main/contributing/index.html
  main/how-to/devcontainer/index.html
  main/how-to/docker/index.html
  main/how-to/faq/index.html
  main/how-to/recipes/index.html
  main/index.html
  main/installation/index.html
  main/overview/codebase-map/index.html
  main/overview/how-it-works/index.html
  main/reference/datacube/index.html
  main/reference/dataset/index.html
  main/reference/featurecollection/index.html
  main/search/search_index.json
  main/tutorials/datacube-basics/index.html
  main/tutorials/datacube/index.html
  main/tutorials/dataset/index.html
  main/tutorials/raster-basics/index.html
Due: none

Deployed 0fa2f35 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

add test-all task
  pixi.lock
  pyproject.toml
Due: none

update test workflow
  .github/workflows/tests.yml
Due: none

Deployed c343bcb to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

chore: update dependencies, workflows, and docs (#129)
  .github/workflows/tests.yml
  README.md
  pixi.lock
  pyproject.toml
Due: none

docs: update badges and improve formatting in README and index files
  README.md
  docs/index.md
Due: none

Deployed 749b08b to main with MkDocs 1.6.1 and mike 2.1.3
  main/AUTHORS/index.html
  main/CODE_OF_CONDUCT/index.html
  main/LICENSE/index.html
  main/adr/0001-docs-stack/index.html
  main/adr/0002-type-checking/index.html
  main/adr/0003-io-formats/index.html
  main/adr/0004-dependency-graphing/index.html
  main/adr/0005-versioning-docs/index.html
  main/adr/0006-docker-image/index.html
  main/adr/index.html
  main/architecture/diagrams/index.html
  main/change-log/index.html
  main/contributing/index.html
  main/how-to/devcontainer/index.html
  main/how-to/docker/index.html
  main/how-to/faq/index.html
  main/how-to/recipes/index.html
  main/index.html
  main/installation/index.html
  main/overview/codebase-map/index.html
  main/overview/how-it-works/index.html
  main/reference/datacube/index.html
  main/reference/dataset/index.html
  main/reference/featurecollection/index.html
  main/tutorials/datacube-basics/index.html
  main/tutorials/datacube/index.html
  main/tutorials/dataset/index.html
  main/tutorials/raster-basics/index.html
Due: none

docs: update South America notebook with expanded code examples and outputs
  examples/notebooks/01dataset.ipynb
  examples/notebooks/02spatial-operation-methods.ipynb
  examples/notebooks/03convert-longitude.ipynb
  examples/notebooks/04datacube.ipynb
  examples/notebooks/south-america.ipynb
Due: examples-notebook-check

add jupyter notebook to dev dependencies
  pixi.lock
  pyproject.toml
Due: none

correct error in notebook
  examples/notebooks/02spatial-operation-methods.ipynb
Due: examples-notebook-check

fix notebook in the docs environment
  pixi.lock
  pyproject.toml
Due: none

Deployed 1037ff7 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/objects.inv
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

lock env
  pixi.lock
Due: none

Deployed b98c9c8 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

update the surface_reflectance docstring
  src/pyramids/dataset.py
Due: doctest

update docs
  docs/installation.md
  src/pyramids/dataset.py
Due: doctest

Deployed c0c2cf8 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

correct typo
  tests/dataset/test_dataset.py
Due: doctest

replace setting up matplotlib backend to use cleopatra.
  tests/dataset/test_plot.py
Due: doctest

Deployed f8b7a30 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/devcontainer/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

handle missing cleopatra dependency in test_plot.py
  tests/dataset/test_plot.py
Due: doctest

add test for set_error_handler with low error class logging
  tests/config/test_config.py
Due: doctest

replace `np.random.randint` with `np.random.default_rng` in tests and examples for reproducibility
  examples/scripts/xyz.py
  tests/dataset/test_dataset.py
  tests/dataset/test_plot.py
Due: doctest

correct type hint, and docstring
  src/pyramids/dataset.py
Due: doctest
