Repository Serapieum-of-alex/pyramids: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-notebook-check, doctest

Path conditions:
  examples-notebook-check: any of: \.ipynb$
  doctest: any of: \.py$

Deployed dcee9bb to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/sitemap.xml
  develop/sitemap.xml.gz
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

update docs
  docs/how-to/docker.md
Due: none

correct the viz feature in all envs
  pixi.lock
  pyproject.toml
Due: none

Deployed a938d1d to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

delete dependabot
  .github/dependabot.yml
Due: none

update ADR
  docs/adr/0006-docker-image.md
Due: none

Deployed 39d97c4 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

correct cmd command
  Dockerfile
Due: none

Deployed c717fc9 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

feat(docker): add Docker support with workflow and documentation (#127)
  .dockerignore
  .gitattributes
  .github/dependabot.yml
  .github/workflows/docker-release.yml
  .github/workflows/release-docker.yml
  Dockerfile
  README.md
  docs/adr/0006-docker-image.md
  docs/how-to/docker.md
  mkdocs.yml
  pixi.lock
  pyproject.toml
Due: none

Deployed 339bf7f to main with MkDocs 1.6.1 and mike 2.1.3
  main/404.html
  main/AUTHORS/index.html
  main/CODE_OF_CONDUCT/index.html
  main/LICENSE/index.html
  main/adr/0001-docs-stack/index.html
  main/adr/0002-type-checking/index.html
  main/adr/0004-dependency-graphing/index.html
  main/adr/0005-versioning-docs/index.html
  main/adr/0006-docker-image/index.html
  main/adr/index.html
  main/architecture/diagrams/index.html
  main/change-log/index.html
  main/contributing/index.html
  main/how-to/docker/index.html
  main/how-to/faq/index.html
  main/how-to/recipes/index.html
  main/index.html
  main/installation/index.html
  main/overview/codebase-map/index.html
  main/overview/how-it-works/index.html
  main/reference/datacube/index.html
  main/reference/dataset/index.html
  main/reference/featurecollection/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/tutorials/datacube-basics/index.html
  main/tutorials/dataset/index.html
  main/tutorials/raster-basics/index.html
Due: none

fix docker-release.yml
  .github/workflows/docker-release.yml
Due: none

update
  docs/how-to/docker.md
Due: none

Deployed 1ad26d1 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/how-to/docker/index.html
  develop/search/search_index.json
Due: none

ci(docker): fix docker-release workflow configuration (#128)
  .github/workflows/docker-release.yml
  docs/how-to/docker.md
Due: none

Deployed 74bd293 to main with MkDocs 1.6.1 and mike 2.1.3
  main/how-to/docker/index.html
  main/search/search_index.json
Due: none

fix urls
  README.md
Due: none

update setuptools
  pixi.lock
  pyproject.toml
Due: none

update badges
  README.md
Due: none

remove duplicate workflow
  .github/workflows/release-docker.yml
Due: none

Deployed d944b73 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/_images/dataset/color-relief.png
  develop/_images/dataset/hill-shade-multi.png
  develop/_images/dataset/hill-shade.png
  develop/objects.inv
  develop/reference/dataset/index.html
  develop/search/search_index.json
Due: none

configure hooks to run in the pixi dev env
  .pre-commit-config.yaml
Due: none

fix doctest
  src/pyramids/dataset.py
Due: doctest

move the functionalities into digital-rivers repo
  docs/_images/dataset/color-relief.png
  docs/_images/dataset/hill-shade-multi.png
  docs/_images/dataset/hill-shade.png
  examples/scripts/color-relief.py
  examples/scripts/hill-shade.py
  examples/scripts/measuring-vegetation.py
  src/pyramids/dataset.py
Due: doctest

Deployed b24606a to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/_images/dataset/color-relief.png
  develop/_images/dataset/hill-shade-multi.png
  develop/_images/dataset/hill-shade.png
  develop/objects.inv
  develop/reference/dataset/index.html
  develop/search/search_index.json
Due: none

move the functionalities into digital-rivers repo
  src/pyramids/abstract_dataset.py
Due: doctest

move the functionalities into digital-rivers repo
  src/pyramids/dataset.py
Due: doctest

Deployed fc73a9b to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/reference/dataset/index.html
Due: none

move the functionalities into digital-rivers repo
  tests/dataset/test_dataset.py
Due: doctest

move the functionalities into digital-rivers repo
  tests/dataset/test_plot.py
Due: doctest

fix example
  src/pyramids/dataset.py
Due: doctest

Deployed ce780ca to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

correct typo
  tests/dataset/test_dataset.py
Due: doctest

Deployed 1b8a29f to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/AUTHORS/index.html
  develop/CODE_OF_CONDUCT/index.html
  develop/LICENSE/index.html
  develop/adr/0001-docs-stack/index.html
  develop/adr/0002-type-checking/index.html
  develop/adr/0003-io-formats/index.html
  develop/adr/0004-dependency-graphing/index.html
  develop/adr/0005-versioning-docs/index.html
  develop/adr/0006-docker-image/index.html
  develop/adr/index.html
  develop/architecture/diagrams/index.html
  develop/change-log/index.html
  develop/contributing/index.html
  develop/how-to/docker/index.html
  develop/how-to/faq/index.html
  develop/how-to/recipes/index.html
  develop/index.html
  develop/installation/index.html
  develop/overview/codebase-map/index.html
  develop/overview/how-it-works/index.html
  develop/reference/datacube/index.html
  develop/reference/dataset/index.html
  develop/reference/featurecollection/index.html
  develop/tutorials/datacube-basics/index.html
  develop/tutorials/datacube/index.html
  develop/tutorials/dataset/index.html
  develop/tutorials/raster-basics/index.html
Due: none

update
  examples/notebooks/01dataset.ipynb
Due: examples-notebook-check

update
  examples/notebooks/01dataset.ipynb
  src/pyramids/dataset.py
Due: examples-notebook-check, doctest

update
  pixi.lock
  pyproject.toml
Due: none

update
  pixi.lock
Due: none

solve plotting issue
  pixi.lock
  pyproject.toml
Due: none

add dev container
  .devcontainer/devcontainer.json
Due: none
